h1{
    margin-left: 35%;
}
img{
    margin-left: 40%;
}
p{
    background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: blue;
    font-size: 25px;
    text-align: justify;
    letter-spacing: 3px;
    word-spacing: 6px;
    border-right: 3px double green;
    border-top: 3px dashed red;
    border-bottom: 3px dotted cyan;
    border-left: 3px solid orange;
}